In [2]:
import pandas as pd
from ipysankeywidget import SankeyWidget

In [11]:
year = [2000,2001,2002,2003,2004,2004,2003, 2002, 2001, 2000]                                                                                                                               
genre = ['rock','pop','rap','jazz','rock','rock','jazz','rap','pop','rock']                                                                                                                 
                                                                                                                                                                                            
df = pd.DataFrame({                                                                                                                                                                                                                                                                                                                                         
    'year': year,                                                                                                                                                                           
    'genre': genre                                                                                                                                                                          
})

In [12]:
df.head()

   year genre
0  2000  rock
1  2001   pop
2  2002   rap
3  2003  jazz
4  2004  rock

In [17]:
df = df.groupby(['genre', 'year']).size().reset_index(name='counts')

In [18]:
df.head()

  genre  year  counts
0  jazz  2003       2
1   pop  2001       2
2   rap  2002       2
3  rock  2000       2
4  rock  2004       2

In [19]:
df.columns = ['source', 'target', 'value']                                                                                                                                                  
df['type'] = df['source']

In [20]:
df.head()

  source  target  value  type
0   jazz    2003      2  jazz
1    pop    2001      2   pop
2    rap    2002      2   rap
3   rock    2000      2  rock
4   rock    2004      2  rock

In [22]:
SankeyWidget(links=df.to_dict('records'))

SankeyWidget(links=[{'source': 'jazz', 'target': 2003, 'value': 2, 'type': 'jazz'}, {'source': 'pop', 'target'â€¦